{% extends 'base.html.twig' %}

{% block title %}Expédition de Jason !{% endblock %}

{% block body %}

    <header>
        <h1 >
            <a href="{{ path('default_home') }}" class="text-decoration-none text-dark">
                <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" alt="Wild Code School logo" />
                Les Argonautes
            </a>
        </h1>
    </header>

    <div class="container-fluid">
    
        <h2 class="text-center mt-3 mb-5">Ajouter un(e) Argonaute</h2>

        {{form_start(form)}}

        <div class="mx-auto col-2">
        
            {{form_row(form.name)}}
        
        </div>

        <div class="mx-auto text-center col-2">
        
            {{form_row(form.submit)}}
        
        </div>

        {{form_end(form)}}

        <div class="card mx-auto mt-5" style="width: 50rem;">
            <div class="card-header text-center">
                Membres de l'équipage
            </div>
            <ul class="list-group list-group-flush">

                {% for crew in currentCrew %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-6">{{crew.name}}</div>
                            <div class="col-6 text-end">
                                <a href="{{ path('delete_crew', {'id': crew.id}) }}" title="Retirer ce membre">
                                    <i class="fa-solid fa-xmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </ul>
        </div>

    </div>

    <footer>
        <p class="my-3">Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
    </footer>

{% endblock %}
